.u-section-1 .u-sheet-1 {
  min-height: 1348px;
}

.u-section-1 .u-form-1 {
  height: 430px;
  width: 570px;
  
  margin: 30px auto 0;
}

.u-section-1 .u-form-group-3 {
  margin-left: 0;
}

.u-section-1 .u-form-group-4 {
  margin-left: 0;
}

.u-section-1 .u-btn-1 {
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 20px;
}

.u-section-1 .u-line-1 {
  width: 750px;
  height: 0;
  margin: 21px auto 0;
  opacity: 0.2;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: 12px 734px 0 298px;
}

.u-section-1 .u-form-2 {
  height: 136px;
  width: 570px;
  margin: 0 auto;
}

.u-section-1 .u-btn-2 {
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 20px;
}

.u-section-1 .u-line-2 {
  width: 750px;
  margin: 19px auto 0;
  opacity: 0.2
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  margin: 6px auto 0 298px;
}

.u-section-1 .u-form-3 {
  height: 248px;
  width: 570px;
  margin: 9px auto 0;
}

.u-section-1 .u-form-group-10 {
  margin-left: 0;
}

.u-section-1 .u-line-3 {
  width: 750px;
  transform-origin: left center 0px;
  margin: 18px auto 0;
  opacity: 0.2
}

.u-section-1 .u-text-3 {
  font-weight: 700;
  margin: 10px auto 0 285px;
}

.u-section-1 .u-text-4 {
  margin: 20px auto 0 285px;
}

.u-section-1 .u-line-4 {
  width: 750px;
  margin: 20px auto 0;
  opacity: 0.2
}

.u-section-1 .u-text-5 {
  font-weight: 700;
  margin: 20px 639px 0 285px;
}

.u-section-1 .u-text-6 {
  margin: 20px 323px 0 285px;
}

.u-section-1 .u-btn-4 {
  font-weight: 700;
  font-size: 0.9375rem;
  background-image: none;
  margin: 29px auto 0 285px;
  border-radius: 30px;
}

.u-section-1 .u-line-5 {
  width: 1031px;
  transform-origin: right center 0px;
  margin: 30px 40px 29px auto;
  opacity: 0.2
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-right: 634px;
    margin-left: 198px;
  }

  .u-section-1 .u-form-3 {
    height: 635px;
    margin-top: 12px;
  }

  .u-section-1 .u-line-3 {
    margin-top: 43px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-left: 185px;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-left: 185px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 539px;
    margin-left: 185px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 223px;
    margin-left: 185px;
  }

  .u-section-1 .u-btn-4 {
    --radius: 6px;
    margin-left: 185px;
    padding: 8px 33px;
  }

  .u-section-1 .u-line-5 {
    width: 940px;
    margin-right: 0;
    margin-bottom: 20px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-line-1 {
    width: 720px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 524px;
    margin-left: 88px;
  }

  .u-section-1 .u-line-2 {
    width: 720px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 524px;
    margin-left: 88px;
  }

  .u-section-1 .u-line-3 {
    width: 720px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 12px;
    margin-left: 75px;
  }

  .u-section-1 .u-text-4 {
    margin-top: 18px;
    margin-left: 75px;
  }

  .u-section-1 .u-line-4 {
    width: 720px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 429px;
    margin-left: 75px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 113px;
    margin-left: 75px;
  }

  .u-section-1 .u-btn-4 {
    margin-left: 75px;
  }

  .u-section-1 .u-line-5 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-form-1 {
    width: 540px;
  }

  .u-section-1 .u-line-1 {
    width: 540px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 6px;
    margin-right: 432px;
    margin-left: 0;
  }

  .u-section-1 .u-form-2 {
    width: 540px;
    margin-top: 6px;
  }

  .u-section-1 .u-line-2 {
    width: 540px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 6px;
    margin-right: 432px;
    margin-left: 0;
  }

  .u-section-1 .u-form-3 {
    width: 540px;
    margin-top: 9px;
  }

  .u-section-1 .u-line-3 {
    width: 540px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 9px;
    margin-left: 0;
  }

  .u-section-1 .u-text-4 {
    margin-top: 20px;
    margin-left: 0;
  }

  .u-section-1 .u-line-4 {
    width: 540px;
    margin-top: 21px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 324px;
    margin-left: 0;
  }

  .u-section-1 .u-text-6 {
    margin-right: 8px;
    margin-left: 0;
  }

  .u-section-1 .u-btn-4 {
    margin-left: 0;
  }

  .u-section-1 .u-line-5 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-form-1 {
    width: 340px;
  }

  .u-section-1 .u-line-1 {
    width: 340px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 232px;
  }

  .u-section-1 .u-form-2 {
    width: 340px;
  }

  .u-section-1 .u-line-2 {
    width: 340px;
  }

  .u-section-1 .u-form-3 {
    width: 340px;
  }

  .u-section-1 .u-line-3 {
    width: 340px;
  }

  .u-section-1 .u-line-4 {
    width: 340px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 124px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 0;
  }

  .u-section-1 .u-line-5 {
    width: 340px;
  }
}